@page "/"
@using Therapeasy.Client.Components

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <p>Hello, @context.User.Identity?.Name!</p>

    <MyPlans Username="@context.User.Identity?.Name" />
</AuthorizeView>
