@page "/exerciseimage"
@page "/exerciseimage/{ExerciseImageId:int}"
@page "/exerciseimage/{ExerciseImageId:int}/{Detail?}"
@rendermode InteractiveServer
@using Therapeasy.Model
@using System.Net.Http.Json
@using System.Text.Json
@using System.Text
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<h5><a href="/exerciseimage/@ExerciseImageId/detailed">Exercise Image @ExerciseImageId</a></h5>
    @if (exerciseImage != null)
    {
        <img class="exercise-image" src="@(exerciseImage.GetImageForDisplay())" />
    }

@code {
    [Parameter]
    public int ExerciseImageId { get; set; }
    [Parameter]
    public string Detail { get; set; } = "nodetail";
    public string Username { get; set; } = "";
    ExerciseImage exerciseImage = new ExerciseImage();

    protected override async Task OnInitializedAsync()
    {
        if (ExerciseImageId > 0)
        {
          var result = await HttpClient.GetFromJsonAsync<ExerciseImage>(NavigationManager.BaseUri + "plandb/get/exerciseimagefromid/" + ExerciseImageId);
          if (result != null)
          {
              exerciseImage = result;
          }
        }
    }
}